body {
    background: #A6A6A8;
    color: #E8E9F3;
    font-family: "Macondo" Swash Caps, cursive;
    font-size: 18px;
    margin: 0;
}

header {
    position: sticky;
    top: 10px;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    font-style:italic;
    font-size: 22px;
}

a {
    text-decoration: none;
    color: #125769;
    font-weight: bold;
    padding-right: 15px;
}

/* Section */
h1 {
    font-style: italic;
    font-size: 3.5rem;
    background: #E8E9F3;
    color: #18748C;
    text-align: center;
    border: solid 5px #272635;
    padding: 5px;
    margin: 30px 10px 30px 0;
}

.profile {
    opacity: 0.8;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: ridge 15px #E8E9F3;
}

/* About */
#About {
    text-align: center;
    padding: 5px 5px;
    width: 90%;
    margin: 0 auto;
    font-size: 1.25rem;
}

h2 {
    font-style: italic;
    font-size: 2.5rem;
    color: #E8E9F3;
}

section {
    margin-bottom: 2em;
    margin-left: 10px;
}

/* Experience */
#Experience {
    background: #125769;
    margin: 0;
    padding-left: .5em;
}

ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 1.25rem;
}

li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 45%;
    margin-right: 45px;
    margin-bottom: 25px;
    padding: 5px 10px;
}

.li-1 {
    border-bottom: solid 1px #E8E9F3;
    margin-bottom: .25em;
}



@media screen and (max-width: 1400px) {
  #Experience {
    background: #A6A6A8;
  }

  li {
    background: #125769;
    width: 60%;
    display: flex;
  }
}

@media screen and (max-width: 1070px) {
    li {
        width: 70%;
    }
}

li:hover {
    background-color: #125769;
    cursor: default;
}

/* Connect */
.icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 10px;
}

@media screen and (max-width: 925px) {
   ul {
        text-align: center;
   }
  
   ul {
        justify-content: center;
   }
    
    li {
        width: 100%;
    }
}

@media screen and (max-width: 730px) {
    .li-2 {
        margin: 0 auto .5em auto;

    }
}

.github {
    border-radius: 2px;
}

footer {
    background-color:#272635;
    margin-top: 50px;
    text-align: center;
    padding: 10px 0;
}

.AFReserve {
    padding-bottom: 5px;
    margin-right: 10px;
}