body {
    background: #A6A6A8;
    color: #E8E9F3;
    font-family: "Macondo" Swash Caps, cursive;
    font-size: 18px;
    margin: 0;
}

header {
    position: sticky;
    top: .5em;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 2em;
    font-style:italic;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: #125769;
    font-weight: bold;
    padding-right: 1em;
}

a:hover, a:focus {
    color:#18748C
}

/* Section */
h1 {
    font-style: italic;
    font-size: 3.5rem;
    background: #E8E9F3;
    color: #18748C;
    text-align: center;
    border: solid 5px #272635;
    padding: .25em;
    margin: .75em .15em 1.5em 0;
}

.profile {
    opacity: 0.8;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: ridge 15px #E8E9F3;
}

/* About */
#About {
    text-align: center;
    padding: .5em .5em;
    width: 90%;
    margin: 0 auto;
    font-size: 1.25rem;
}

h2 {
    font-style: italic;
    font-size: 2.5rem;
    color: #E8E9F3;
}

section {
    margin-bottom: 2em;
    margin-left: .5em;
}

/* Experience */
#Experience {
    background: #125769;
    margin: 0;
    padding-left: .5em;
}

ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 1.25rem;
}

li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 45%;
    margin-right: 2.60em;
    margin-bottom: 1.75em;
    padding: .25em .5em;
}

.li-1 {
    border-bottom: solid 1px #E8E9F3;
    margin-bottom: .25em;
}

@media screen and (max-width: 1504px) {
  ul {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1400px) {
  #Experience {
    background: #A6A6A8;
  }

  ul {
    flex-direction: row;
  }

  li {
    background: #125769;
    width: 60%;
  }
}

@media screen and (max-width: 1070px) {
    li {
        width: 70%;
    }
}

li:hover, li:focus {
    background-color: #272635;
    cursor: default;
}

/* Connect */
.icons {
    display: flex;
    flex-direction: row;
    gap: .5em;
    margin-left: .75em;
}

@media screen and (max-width: 925px) { /* Tablet */
   section, ul {
        text-align: center;
   }
  
   ul, .icons {
        justify-content: center;
   }
    
    li {
        width: 100%;
    }

    #Connect {
        margin-bottom: 4em;
    }
}

@media screen and (max-width: 730px) { /* Phone */
    nav {
        flex-wrap: wrap;
        justify-content: center;
        font-size: 1.25rem;
    }

    h1 {
        font-size: 3.25rem;
        margin: .5em .15em 1.25em 0;
    }

    .main {
        margin-bottom: 0;
    }

    #About, ul {
        font-size: 1.15rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    .li-2 {
        margin: 0 auto .5em auto;

    }
}

.github {
    border-radius: 2px;
}

/* Footer */
footer {
    background-color:#272635;
    margin-top: 3em;
    text-align: center;
    padding: .5em 0;
}

.AFReserve {
    padding-bottom: .25em;
    margin-right: .5em;
}