body {
    background: #A6A6A8;
    color: #272635;
    font-family: "Macondo" Swash Caps, cursive;
    font-size: 18px;
    margin: 0;
}

header {
    position: sticky;
    top: 10px;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    font-style:italic;
    font-size: 22px;
}

a {
    text-decoration: none;
    color: #125769;
    font-weight: bold;
    padding-right: 15px;
}

/* Section */
h1 {
    font-style: italic;
    font-size: 55px;
    background: #E8E9F3;
    color: #18748C;
    text-align: center;
    border: solid 5px #272635;
    padding: 5px;
    margin: 30px 10px 30px 0;
}

.profile {
    opacity: 0.8;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: ridge 15px #E8E9F3;
}

/* About */
#About {
    text-align: center;
    padding: 5px 5px;
    width: 90%;
    margin: 0 auto;
}

h2 {
    font-style: italic;
    font-size: 35px;
    color: #E8E9F3;
}

section {
    margin-bottom: 30px;
    margin-left: 10px;
}

/* Experience */
ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

li {
    width: 45%;
    margin-right: 45px;
    margin-bottom: 25px;
    list-style: circle;
    padding: 5px 10px;
}

li:hover {
    background-color: #E8E9F3;
    cursor: default;
}

span {
    margin-left: 33px;
}

.certs {
    margin-left: 129px;
}

.college {
    margin-left: 77px;
}

/* Connect */
.icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 10px;
}

.github {
    border-radius: 2px;
}

footer {
    background-color:#272635;
    margin-top: 50px;
    text-align: center;
    padding: 10px 0;
}

.AFReserve {
    padding-bottom: 5px;
    margin-right: 10px;
}