/* Desktop-first Approach */
html {
    scroll-behavior: smooth;
}

body {
    background: #A6A6A8;
    color: #E8E9F3;
    font-family: "Macondo" Swash Caps, cursive;
    font-size: 18px;
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #A6A6A8;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
    gap: 2em;
    font-style:italic;
    font-size: 1.5rem;
}

header a {
    text-decoration: none;
    color: #125769;
    font-weight: bold;
    padding-right: 1em;
}

header a:hover, header a:focus {
    color:#479bb0
}

/* Section */
h1 {
    font-style: italic;
    font-size: 3.5rem;
    background: #E8E9F3;
    color: #18748C;
    text-align: center;
    border: solid 5px #272635;
    padding: .25em;
    margin: .75em .15em 1.5em 0;
}

.profile {
    opacity: 0.8;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: ridge 15px #E8E9F3;
}

/* About */
#About {
    background:#A6A6A8;
    text-align: center;
    padding: 0 .5em 0 .5em;
    width: 90%;
    margin: .5em auto; 
    font-size: 1.25rem;
}

h2 {
    font-style: italic;
    font-size: 2.5rem;
    color: #E8E9F3;
}

section {
    scroll-margin-top: 3.75em;
    margin-bottom: 2em;
    margin-left: .5em;
}

/* Experience */
#Experience {
    background: #125769;
    margin: 0;
    padding-left: .5em;
}

ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.25rem;
}

#Experience li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 45%;
    margin-right: 2.60em;
    margin-bottom: 1.75em;
    padding: .25em .5em;
}

.li-1 {
    border-bottom: solid 1px #E8E9F3;
    margin-bottom: .25em;
}

/* Skills */
#skills li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background:#18748C;
    width: 45%;
    font-weight: bold;
    box-shadow:#272635 0px 4px 8px -2px;
    margin-right: 2.60em;
    margin-bottom: 1.75em;
    padding: .25em .5em;
}

#skills li:hover, #skills li:focus {
    color:rgb(198, 25, 25);
    cursor: default;
}

.AFReserve {
    margin-left: 1em;
}

@media screen and (max-width: 1504px) {
  #Experience ul {
    flex-direction: column;
    align-items: center;
  }

  #skills ul {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1400px) {
  #Experience {
    background: #A6A6A8;
    padding-bottom: 0;
  }

  #Experience ul {
    flex-direction: row;
  }

  #Experience li {
    background: #125769;
    width: 60%;
  }

  #skills ul {
    flex-direction: row;
  }

  #skills li {
    width: 60%;
  }
}

@media screen and (max-width: 1070px) {
    li {
        width: 70%;
    }
}

#Experience li:hover, #Experience li:focus {
    background-color: #272635;
    cursor: default;
}

/* Connect */
.icons {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-left: 1em;
}

/* Footer */
.AFReserve {
    padding-bottom: .25em;
    margin-right: .5em;
}

@media screen and (max-width: 925px) { /* Tablet design */
   section, ul, .li-2 {
        text-align: center;
   }
  
   ul {
        justify-content: center;
   }
    
    li {
        width: 100%;
        box-shadow:inset 0 0 0 1px #E8E9F3;
    }

    .li-2 {
        margin: 0 auto .5em auto;
    }

    #Connect {
        margin-bottom: 4em;
    }

    .icons {
        margin: 0 auto;
        width: 30%;
        background:#535167;
        box-shadow:#E8E9F3 0px 4px 8px -2px;
        padding: .5em;
        border-radius: 5px;
        justify-content: center;
   }

    .AFReserve {
        padding-bottom: .25em;
        margin-right: 0;
        margin-left: 1em;
    }

    .army {
        margin-left: 1.5em;
    }
}

@media screen and (max-width: 730px) { /* Phone design */
    header {
        height: 3.75rem;
    }
    
    nav {
        gap: .75em;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 1.25rem;
    }

    h1 {
        font-size: 3.25rem;
        margin: .5em .15em 1.25em 0;
    }

    .main {
        margin-bottom: 0;
    }

    #About, ul {
        font-size: 1.15rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    .li-2 {
        margin: 0 auto .5em auto;
        font-weight: bold;
    }

    #Experience li:last-child {
        margin-bottom: 0;
    }
} 

/* Connect */
.github {
    border-radius: 2px;
}

/* Footer */
footer {
    background-color:#272635;
    margin-top: 3em;
    text-align: center;
    padding: .5em 0;
}

footer p {
	margin: 0;
	padding-right: 0;
}