/* Desktop-first Approach */
html {
    scroll-behavior: smooth;
}

body {
    background: #A6A6A8;
    color: #E8E9F3;
    font-family: "Macondo" Swash Caps, cursive;
    font-size: 18px;
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #A6A6A8;
}

.hamburger {
    display: none;
    flex-direction: column;
    margin-left: auto;
    gap: .45em;
    background: none;
    border: none;
    cursor: pointer;
    padding: 1em; 
}

.hamburger span {
    width: 3em; 
    height: .30em;
    background-color: #125769; 
    transition: .3s;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
    gap: 2em;
    font-style:italic;
    font-size: 1.5rem;
}

header a {
    text-decoration: none;
    color: #125769;
    font-weight: bold;
    padding-right: 1em;
}

header a:hover, header a:focus {
    color:#479bb0
}

/* Section */
h1 {
    font-style: italic;
    font-size: 3.5rem;
    background: #E8E9F3;
    color: #18748C;
    text-align: center;
    border: solid 5px #272635;
    padding: .25em;
    margin: .75em .15em 1.5em 0;
}

.profile {
    opacity: 0.8;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: ridge 15px #E8E9F3;
}

/* About */
#About {
    background:#A6A6A8;
    text-align: center;
    padding: 0 .5em 0 .5em;
    width: 90%;
    margin: .5em auto 3em auto; 
    font-size: 1.25rem;
}

h2 {
    font-style: italic;
    font-size: 2.5rem;
    color: #E8E9F3;
}

section {
    scroll-margin-top: 3.75em; /* To account for the height of the header */
    margin-bottom: 2em;
    margin-left: .5em;
}

/* Projects */
#Projects ul {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;        
}

#Projects li {
    padding: .5em;
}

#Projects li:hover, #Projects li:focus {
    padding: .5em;
    background-color: #E8E9F3;
    color: #272635;
    cursor: default;
}

#Projects {
    margin-bottom: 3em;
}

/* Experience */
#Experience {
    background: #125769;
    margin: 0;
    padding-left: .5em;
}

ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.25rem;
}

#Experience li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 45%;
    margin-right: 2.60em;
    margin-bottom: 1.75em;
    padding: .25em .5em;
}

#Experience {
    margin-bottom: 3em;
}

.li-1 {
    border-bottom: solid 1px #E8E9F3;
    margin-bottom: .25em;
}

/* Skills */
#skills li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background:#18748C;
    width: 45%;
    font-weight: bold;
    box-shadow:#272635 0px 4px 8px -2px; /* horizontal, vertical downward, edges of shadow softened, & negative to look more realistic */
    margin-right: 2.60em;
    margin-bottom: 1.75em;
    padding: .25em .5em;
}

#skills li:hover, #skills li:focus {
    color:rgb(198, 25, 25);
    cursor: default;
}

/* Leave a Message */
#leaveMessage h2 {
    margin-bottom: 0;
}

#leaveMessage form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
}

.label {
    font-size: 1.25rem;
    margin-top: 2.25em;
    margin-left: 1em;
    margin-right: .5em;
}

.label1 {
    font-size: 1.25rem;
    margin-top: 2.25em;
    margin-left: 3em;
    margin-right: .5em;
}

.label2 {
    font-size: 1.25rem;
    margin-left: .05em;
    margin-top: 2.75em;
    margin-right: .5em;
}

#leaveMessage input, #leaveMessage textarea{
    width: 41%;
    margin-top: 3em;
    padding: .75em;
    border-radius: 5px;
    border: none;
    box-shadow: inset 0 0 0 1px #7c7c7d;
}

#leaveMessage button {
    background: #125769;
    color: #E8E9F3;
    border: none;
    font-size: 1rem;
    margin-left: 7.6em;
    margin-top: 3em;
    padding: .5em 1em;
    width: 42%;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: inset 0 0 0 1px #0d404d;
    cursor: pointer;
}

#messages li {
    width: 100%;
    box-shadow: inset 0 0 0 1px #E8E9F3; 
}

.AFReserve {
    margin-left: 1em;
}

@media screen and (max-width: 1504px) {
  #Experience ul {
    flex-direction: column;
    align-items: center;
  }

  #skills ul {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1400px) {
  nav {
    flex-wrap: wrap;
  }

  #Projects ul {
    justify-content: space-between;
    margin-right: 2em;
  }

  #Experience {
    background: #A6A6A8;
    padding-bottom: 0;
  }

  #Experience ul {
    flex-direction: row;
  }

  #Experience li {
    background: #125769;
    width: 60%;
  }

  #skills ul {
    flex-direction: row;
  }

  #skills li {
    width: 60%;
  }

  #leaveMessage form {
    flex-direction: column;
    align-items: flex-start;
  }

  #leaveMessage form label {
    margin-top: 1em;
    margin: 1.5em auto 0 0;
  }

  #leaveMessage input, #leaveMessage textarea {
    width: 62%;
    margin-top: 1em;
  }

  #leaveMessage textarea {
    margin-bottom: 1em;
}

  #leaveMessage button {
    margin-left: 0;
    padding: .75em;
    width: 63%;
  }

  #leaveMessage button {
    margin-left: .25em;
  }
}

@media screen and (max-width: 1070px) {
    li {
        width: 70%;
    }

    #Projects li:hover, #Projects li:focus {
        background-color: #A6A6A8;
        cursor: default;
    }
}

#Experience li:hover, #Experience li:focus {
    background-color: #272635;
    cursor: default;
}

/* Connect */
.icons {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-left: 1em;
}

/* Footer */
.AFReserve {
    padding-bottom: .25em;
    margin-right: .5em;
}

@media screen and (max-width: 980px) {
    nav {
        flex-wrap: wrap;
        position: absolute;
        top: 2.45em; 
        right: 0;
        background: #A6A6A8; 
        width: 200px;
        display: none;
        flex-direction: column;
        padding: .5em;
    }

    nav.open {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .hamburger:hover, .hamburger:focus {
        background: #909098;
    }
}

@media screen and (max-width: 925px) { /* Tablet design */
   section, ul, .li-2 {
        text-align: center;
   }
  
   ul {
        justify-content: center;
   }
    
    li {
        width: 100%;
        box-shadow: inset 0 0 0 1px #E8E9F3; /* Inner border */
    }

    #Projects li {
        width: 63%;
        list-style-type: none;
        margin: 1em auto 1em auto;
    }

    #Projects li:hover, #Projects li:focus {
        background-color: #E8E9F3;
        color: #272635;
        cursor: default;
    }

    .li-2 {
        margin: 0 auto .5em auto;
    }

    #Connect {
        margin-bottom: 4em;
    }

    .icons {
        margin: 0 auto;
        width: 30%;
        background:#535167;
        box-shadow:#E8E9F3 0px 4px 8px -2px; 
        padding: .5em;
        border-radius: 5px;
        justify-content: center;
   }

   #leaveMessage form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #leaveMessage form label {
        margin: 1em auto 0 auto;
    }

    #leaveMessage input, #leaveMessage textarea {
        margin: .5em;
        padding: .75em; 
        width: 60%;
    }

    #leaveMessage button {
        width: 61%;
    }

    .AFReserve {
        padding-bottom: .25em;
        margin-right: 0;
        margin-left: 1em;
    }

    .army {
        margin-left: 1.5em;
    }
}

@media screen and (max-width: 730px) { /* Phone design */
    header {
        height: 3.75rem;
    }
    
    nav {
        gap: .75em;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 1.25rem;
    }

    h1 {
        font-size: 3.25rem;
        margin: .5em .15em 1.25em 0;
    }

    .main {
        margin-bottom: 0;
    }

    #About, ul {
        font-size: 1.15rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    .li-2 {
        margin: 0 auto .5em auto;
        font-weight: bold;
    }

    #Experience li:last-child {
        margin-bottom: 0;
    }
} 

/* Connect */
.github {
    border-radius: 2px;
}

/* Footer */
footer {
    background-color:#272635;
    margin-top: 3em;
    text-align: center;
    padding: .5em 0;
}

footer p {
	margin: 0;
	padding-right: 0;
}