body {
    background: #A6A6A8;
    color: #272635;
    font-family: "Macondo" Swash Caps, cursive;
    font-size: 18px;
    margin-left: 15px;
    margin-right: 15px;
}

header {
    position: sticky;
    top: 10px;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

h1 {
    font-style: italic;
    /* font-weight: bolder; */
    font-size: 55px;
    background: #E8E9F3;
    color: #18748C;
    text-align: center;
    border: solid 5px #272635;
    padding: 5px;
    margin: 30px 0;
}

.profile {
    opacity: 0.8;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: ridge 15px #E8E9F3;
}

#About {
    text-align: center;
    padding: 0 60px;
}

h2 {
    /* font-weight: bolder; */
    font-size: 35px;
    color: #E8E9F3;
}

section {
    margin-bottom: 30px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

li {
    width: 46%;
    margin-right: 45px;
    margin-bottom: 25px;
    list-style: circle;
}

li:hover {
    background-color: #E8E9F3;
    /* margin-right: 69%; */
    cursor: default;
}

span {
    margin-left: 45px;
}

.certs {
    margin-left: 140px;
}

.college {
    margin-left: 90px;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-left: 10px
}

.github {
    border-radius: 2px;
}

footer {
    margin-top: 50px;
    margin-bottom: 0;
    text-align: center;
}

.AFReserve {
    padding-bottom: 5px;
}